/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* GENERAL STYLE */

* {
    margin: 0;
    font-family: 'VT323';
}

body {
    background: url(../img/eps8woq9nh9z.png), rgba(0, 0, 0, .5);
    background-size: 30%;
    background-repeat: repeat;
    background-blend-mode: overlay;
}

#wrapper_search {
    display: flex;
    align-items: center;
    margin: 1%;
}

#pokemon-name {
    height: 50px;
    border-radius: 5px;
    border: none;
    background: #f4f4f4;
    color: black;
    margin-right: 5px;
    width: 50vw;
    border: solid 2px transparent;
    transition: .2s;
    padding-left: 15px;
    font-size: 20px;
}

#pokemon-name:focus {
    outline: none;
    border: solid 2px #2C6615;
    transition: .2s;
}

#pokemon-name::placeholder {
    color: #7e7e7e;
    font-size: 16px;
    ;
}

#showPoke {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    background: rgba(44, 102, 21);
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .2s;
}

#showPoke:hover {
    background: rgb(36, 85, 17);
    transition: .2s;
}

#showPoke>p {
    padding: 5px;
    font-size: 24px;
    color: white;
}

#ball {
    height: 30px;
    width: 30px;
    background: rgb(205, 74, 74);
    background: linear-gradient(180deg, rgba(205, 74, 74, 1) 48%, rgb(27, 27, 27) 48%, rgba(27, 27, 27, 1) 52%, rgba(255, 255, 255, 1) 52%);
    border-radius: 50%;
    border: solid 2px rgb(27, 27, 27);
    transition: .5s;
}

#showPoke:hover>#ball {
    transform: rotate(45deg);
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    width: 30vw;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 10px solid rgba(0, 0, 0, .2)
}

#name {
    margin: 2% 0 0 0;
    font-size: 36px;
}

#pokeimg {
    background: rgba(0, 0, 0, .2);
    width: 80%;
    height: auto;
    border-radius: 5px;
}

img {
    width: 100%;
}

#hw {
    display: flex;
    width: 100%;
    margin-bottom: 1%;
    justify-content: space-around;
}

#element_pika {
    font-size: 18px;
}

#exp_pika {
    margin-top: 5%;
    font-size: 24px;
    background: rgba(0, 0, 0, .2);
    padding: 5%;
    border-radius: 5px;
    color: white;
}

#stats {
    margin: 5% 0;
    font-size: 24px;
}